.root{
    -fx-font-size: 12px;
    -fx-font-family: "Times New Roman";
    -fx-background-color: rgb(232, 232, 232);
}

.label {
    -fx-font-size: 12px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


#title{
   -fx-font-size: 24px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button,.combo-box {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 0, 1 , 1 , 1 );
}

.button:hover,.combo-box:hover {
    -fx-background-color: #AAE0A2;
    -fx-border-width: 2;
	-fx-border-color: white;
}

#listViewMembre{
	-fx-font-size: 18px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.error{
	-fx-border-width: 2;
	-fx-border-color: red;
   /* -fx-background-color: red,linear-gradient(to bottom, derive(red,60%) 5%,derive(red,90%) 40%);*/
}

#hboxParent, .pane {
	-fx-border-width: 10;
	 -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: #AAE0A2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 1 , 1 , 1 );
}
#hboxAjout, #tabPaneCotisation {
	-fx-border-width: 10;
	 -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: #AAE0A2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 1 , 1 , 1 );
}
#rechercheField{
	-fx-background-image:url("zoom.png");
	-fx-background-repeat: stretch;
  -fx-background-position: right;
}

#grdTitle{
	-fx-font-size: 24px;
   -fx-fill:linear-gradient(palegreen, seagreen);
}