.root{
    -fx-font-size: 12px;
    -fx-font-family: "Times New Roman";
    /*-fx-background-color:  rgb(125, 125, 125);*/
    /*-fx-background-color:  
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200% , #e6e6e6 45%, rgba(230,230,230,0) 50%); 
    */-fx-background-radius: 10;
    -fx-background-insets: 10,10,10,10;
    -fx-text-fill: white;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );*/
    
-fx-background-color: linear-gradient(to bottom,  #005700 0%,#002400 71%); /* W3C */


}
.text-field:disabled{
	-fx-text-fill:black ;
	-fx-opacity:0.9;
}

.label{
    -fx-font-size: 12px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog{
	-fx-background-color:white;
	-fx-background-radius: 0;
    -fx-background-insets: 0;
}
.rectangle{
	-fx-background-color: linear-gradient(to bottom,  #005700 0%,#002400 71%); /* W3C */
}

.header{
   -fx-fill: white;
   -fx-font-size: 20px !important;
   -fx-font-weight: bold;
   -fx-font-family: "Arial Black";
   -fx-alignment: center ;
}
.button {
    -fx-cursor:hand;
    -fx-background-color:linear-gradient(to bottom, #627d4d 0%,#002400 100%); /* W3C */
    -fx-border-width: 1;
    -fx-border-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 5 10 5 10;
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
.button:hover{
	-fx-background-color:linear-gradient(to bottom, #ffffff 0%,#005700 100%); /* W3C */
    -fx-text-fill: #005700;
}
.button:active{
	/*-fx-background-color:linear-gradient(to bottom, #333333 0%,#ffffff 100%); /* W3C */
}
.combo-box,.date-picker {
    -fx-background-color:white;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

.combo-box:hover,.date-picker:hover {
	-fx-background-color: white;
    -fx-text-fill: black;
}

.button:focused,.combo-box:focused,.date-picker:focused {
	/*-fx-cursor:hand;
    -fx-background-color:
        linear-gradient(#008835, #a98800),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill:black;
    */
}

#lbDossier {
	-fx-text-fill:black;
	-fx-border-color:  rgba(230,230,230,0);
	-fx-border-width: 1;
	-fx-background-color:white;
	-fx-background-radius: 3;
    -fx-border-insets: 1,2,1,2;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 3, 0.0 , 0 ,1 );
}


#btnErr {
	-fx-text-fill:red;
}

#listViewMembre{
	-fx-cursor:hand;
	-fx-font-size: 14px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.error{
	-fx-border-width: 2;
	-fx-border-color: red;
   /* -fx-background-color: red,linear-gradient(to bottom, derive(red,60%) 5%,derive(red,90%) 40%);*/
}



#rechercheField{
	-fx-background-image:url("../images/zoom.png");
	-fx-background-repeat: stretch;
   	-fx-background-position: right;
}

.tooltip{
	-fx-background-color:transparent ;
	-fx-font-size: 12px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    /*-fx-text-fill: black;*/ /*not supported for the given selector */
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.buttonMenu{
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-color: green;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.buttonMenu:hover{
	-fx-background-color: linear-gradient(to bottom,  #005700 0%,#002400 71%);
    -fx-text-fill: white;
    -fx-border-color: white;
}
.titled-pane {
-fx-text-fill: white;
}

.titled-pane > *.content 
{
    -fx-background-color:#002400;
    -fx-text-fill: white;
}
.titled-pane > .title
{
    -fx-background-color:linear-gradient(to bottom,  #007800 0%,#005000 71%);
    -fx-font-size:12px;
}

.titled-pane > .title > .arrow-button 
{
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
	}

.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: white;
-fx-background-insets: 1 0 -1 0, 0;
-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
/*-fx-shape: "M 0 0 h 7 l -3.5 4 z";*/
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    /*-fx-background-color: #e6e6e6;*/
     -fx-background-color:#005700;

}

.tab-pane .tab:selected
{
    -fx-background-color: green;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; 
}

.table-row-cell{
    -fx-text-fill: black;
}
.table-row-cell:hover{
	-fx-text-fill: white;
    -fx-background-color: #005700;
}
 
.table-row-cell:selected, .table-row-cell:focus{
    -fx-background-color: green;
    -fx-text-fill: white;
}


.table-view {
    -fx-base: #002400;
    -fx-control-inner-background:  white;
    -fx-background-color: white;
    -fx-table-cell-border-color: #1d1d1d;
    /*-fx-table-header-border-color: transparent;*/
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#005700 0%, #004610 20%, #002400 100%);
}

.table-view .column-header, .table-view .filler {
   /* -fx-size: 35;*/
    -fx-border-width: 0 0 1 0;
    -fx-border-color:transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
}
.list-cell:filled:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
}
.firstItem, .firstItem:filled:selected:focused{
	-fx-text-fill:green;
    -fx-font: bold 16pt "Comic Sans MS";
}


.tab-pane {
    -fx-tab-min-height: 2.5em; /* 24 */
    -fx-tab-max-height: 2.5em; /* 24 */
    -fx-tab-min-width: 5em;
}
.tab{
    -fx-background-color: white;
}
.tab-pane *.tab-header-background {
    -fx-background-color: #005700;
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab:selected {
	-fx-background-color: #002400;
	-fx-text-fill: white;
    -fx-background-insets: 0, 1 1 0 1;
    -fx-background-radius: 5 5 0 0, 4 4 0 0;
    -fx-border-style: none ;
    -fx-border-width: 0;
}
.tab:focused {
	-fx-border-width: 0;
	-fx-border-style: none ;
}




/** CSS **/
.table-view{
	-fx-border-color:derive(green,80%);
}

/* The main scrollbar CSS class of ListView */
.table-view .scroll-bar:horizontal ,
.table-view  .scroll-bar:vertical{
    -fx-background-color:transparent;

}

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color:derive(green,80%);
}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track ,
.table-view .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:derive(green,80%);
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(green,90%);
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;

}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

.table-view .scroll-bar:horizontal:hover .track ,
.table-view .scroll-bar:horizontal:pressed .track ,
.table-view .scroll-bar:vertical:hover .track,
.table-view .scroll-bar:vertical:pressed .track{
     -fx-background-color: derive(#002400,20%);

	 -fx-opacity: 0.2;
	 -fx-background-radius: 0em;

}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.table-view .scroll-bar .thumb:hover,
.table-view .scroll-bar .thumb:pressed{
    -fx-background-color: derive(green,50%);
}

.table-view .increment-button:hover ,.table-view .decrement-button:hover {
    -fx-background-color:derive(green,100%);
	-fx-border-color:derive(green,80%);	
}
.slider .fill {
 -fx-background-color: #00828b;
 -fx-padding: 0.333333em; 
}
.slider .fill:hover {
 -fx-background-color: #219297;
}
.slider{
 -fx-show-tick-labels:true;	 
/*-fx-show-tick-marks:true ; 
/*-fx-major-tick-unit:25; 	 
-fx-minor-tick-count:3; */	 
}
.slider{
	
}
